body {
  font-family: "Nunito", sans-serif;
}
i {
  font-style: italic;
}
:root {
  --deadzone: 1000px;
  --bg-color: #27332cd7;
}
@media (max-width: 768px) {
  :root {
    --deadzone: 500px;
  }
}

p {
  margin-bottom: 1ch;
  text-align: justify;
}
cite {
  font-style: italic;
  font-weight: bold;
}
#progressbar {
  position: fixed;
  right: 20px;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
@media (max-width: 768px) {
  #progressbar {
    display: none;
  }
}
#progressbar .bar {
  height: 90%;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 30px;
  position: relative;
}
#progressbar .pointer {
  position: absolute;
  width: 100%;
  transform: scaleX(1.5) translateY(-50%);
  height: 7px;
  top: 1%;
  background-color: #ffffff6b;
  transition: top 0.1;
}
#progressbar .marker {
  position: absolute;
  width: 79%;
  left: 10%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  top: 5%;
}
img {
  height: 100vh;
  margin: 0 auto;
  display: block;
}
#down-arrow {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  background-color: var(--bg-color);
  border-radius: 100%;
  height: 35px;
  width: 35px;
}
#down-arrow svg {
  width: 100%;
  height: 100%;
}
a.go-back {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 10px 15px;
  border: solid 1px white;
  display: block;
  color: white;
}

.cover {
  height: 100vh;
  color: white;
  padding: 5%;
  position: relative;
}
@media (max-width: 768px) {
  a.go-back {
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
  #down-arrow {
    display: none;
  }
  .cover {
    height: auto;
    padding-top: 20%;
    border-bottom: solid 30px black;
  }
}
.cover-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 840px;
  margin: 0 auto;
}
#cover-bg {
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#cover-bg img {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.cover a {
  color: white;
}

.cover a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 30px;
  margin-bottom: 80px;
}

.social-links {
  margin: 15px;
  display: flex;
  justify-content: center;
}
.social-links figure:hover {
  box-shadow: 0px 0px 15px 7px rgba(255, 255, 255, 0.6);
}
.social-links a {
  width: 100%;
  height: 100%;
}
.social-links figure {
  border-radius: 100%;
  margin: 15px;
}
.social-links figure svg {
  width: 35px;
  transform: scale(1.15);
  height: auto;
}

.social-links figure svg path {
  fill: white;
}
#outer-container::after {
  content: "";
}
.general-container {
  width: 100%;
}
@media (min-width: 768px) {
  #outer-container {
    display: grid;
    grid-template-rows: auto;
    row-gap: var(--deadzone);
  }
  .general-container {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.938);
  }
}
@media (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .social-links figure svg {
    width: 20px;
    transform: scale(1.15);
    height: auto;
  }
  .social-links figure {
    border-radius: 100%;
    margin: 5px 10px;
  }
}
.container-img {
  width: 100%;
}
.split .general-container-inner {
  display: flex;
}
.split .container-img {
  width: 50%;
}
.container-text {
  position: static;
  width: 50%;
  color: black;
  height: 100vh;
}
.container-text-inner {
  background-color: rgba(0, 0, 0, 0.514);
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .general-container {
    border-bottom: solid 30px black;
  }
  .container-text {
    height: auto;
  }
  .container-text-inner {
    height: auto;
    padding: 7%;
  }
}
.container-text p {
  line-height: 1.5;
  font-size: 18px;
  color: white;
}
.container-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 60px;
  transform: translateY(200%);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
}
.container-description-inner {
  background-color: rgba(0, 0, 0, 0.514);
  width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 18px;
  padding: 15px;
}
@media (max-width: 768px) {
  .container-description {
    position: relative;
    transform: translateY(0);
    padding-bottom: 0;
    padding-top: 0;
  }
  .container-description-inner {
    width: 100%;
    padding: 7%;
  }
}
.container-description.active {
  transform: translateY(0);
}
.general-container-inner {
  position: relative;
  overflow: hidden;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1.5);
  z-index: -1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px) brightness(50%);
}

.final {
  height: 100vh;
  background-color: #0f0e0e;
  z-index: 11;
}
.footer {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
}
.footer > div {
  margin: 10px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.footer img {
  width: 100px;
  height: auto;
}
.container-content-final {
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#final .general-container-inner {
  overflow-y: scroll;
  height: 100%;
}

.final h2 {
  height: 13%;
  font-size: 40px;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.final ul span {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.final li {
  font-size: 18px;
  margin: 15px 0;
  text-align: center;
}

.row-of-credits {
  width: 90%;
  display: flex;
}
@media (max-width: 768px) {
  .row-of-credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .final {
    border-bottom: none;
    height: auto;
    overflow: visible;
  }
  .final .general-container-inner {
    overflow: visible;
  }
  #final .general-container-inner {
    overflow: visible;
  }
  #final .bg {
    height: auto;
  }
  #final .go-back {
    display: none;
  }
}
.area1 {
  grid-area: area1;
}

.area2 {
  grid-area: area2;
}

.area3 {
  grid-area: area3;
}

.area4 {
  grid-area: area4;
}

.final ul {
  width: 60%;
  margin: 15px auto 40px;
}
.final strong {
  font-weight: bold;
}
@media (max-width: 1400px) {
  .final h2 {
    font-size: 40px;
  }
  .final ul span {
    font-size: 16px;
  }
  .final li {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer p {
    text-align: center;
  }
  .general-container {
    width: 100vw;
  }
  .container-img {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  #cover-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
  }
  .split .general-container-inner {
    flex-direction: column-reverse;
  }
  .split .container-img {
    width: 100%;
  }
  .container-text {
    position: static;
    width: 100%;
    color: black;
  }
  .container-text-inner {
    padding-bottom: 50px;
  }
  .to-the-side {
    height: 100%;
    object-fit: contain;
  }
  .row-of-credits {
    width: 100%;
    margin: 5px 0;
    justify-content: space-between;
  }
  .footer {
    margin-top: 1.5rem;
  }
  .footer > div {
    width: 100%;
  }
  .final h2 {
    margin-top: 80px;
    font-size: 35px;
    margin-bottom: 15px;
  }
  .final ul span {
    font-size: 18px;
  }
  .final ul {
    margin: 10px auto 30px;
    width: 80%;
  }
  .final li {
    font-size: 16px;
  }
  .cover p {
    max-width: 90%;
  }
  #progressbar {
    right: 5px;
  }
  #progressbar .bar {
    width: 12px;
  }
}
