body {
  font-family: "Nunito", sans-serif;
}
:root {
  --deadzone: 1000px;
  --bg-color: #272e339c;
}

img {
  height: 100vh;
  margin: 0 auto;
  display: block;
}
.cover {
  height: 100vh;
  color: white;
  padding: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cover-bg {
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#cover-bg img {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.cover a {
  color: white;
}
.cover a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 30px;
}
.social-links {
  margin: 15px;
  display: flex;
  justify-content: center;
}
.social-links figure:hover {
  box-shadow: 0px 0px 15px 7px rgba(255, 255, 255, 0.6);
}
.social-links a {
  width: 100%;
  height: 100%;
}
.social-links figure {
  border-radius: 100%;
  margin: 15px;
}
.social-links figure svg {
  width: 35px;
  transform: scale(1.15);
  height: auto;
}
.social-links figure svg path {
  fill: white;
}
#outer-container {
  display: grid;
  grid-template-rows: auto;
  row-gap: var(--deadzone);
}
#outer-container::after {
  content: "";
}
.general-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.938);
}

.container-img {
  width: 100%;
}
.container-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 25px;
  transform: translateY(200%);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
}
p {
  margin-bottom: 1ch;
}
cite {
  font-style: italic;
}
.container-description-inner {
  background-color: rgba(0, 0, 0, 0.514);
  width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 18px;
  padding: 15px;
}
.container-description.active {
  transform: translateY(0);
}
.general-container-inner {
  position: relative;
  overflow: hidden;
}
.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1.5);
  z-index: -1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px) brightness(50%);
}
